body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}
#chat-list {
  height: 100vh;
  overflow-y: auto;
  background-color: #ffffff;
  border-right: 1px solid #dee2e6;
}
#chatMessagesContainer {
  height: 80vh;
  overflow-y: auto;
  padding: 20px;
  background-color: #ffffff;
}
.list-group-item {
  cursor: pointer;
}
.list-group-item.active {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
}
.chat-messages img {
  border-radius: 50%;
}
.card-header {
  background-color: #007bff;
  color: white;
}
.media img {
  border-radius: 50%;
}
.media-body {
  margin-bottom: 10px;
}
.message-bubble {
  display: inline-block;
  padding: 10px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
}
.bot-bubble  {
  background: #007bff;
  color: white;
}
.user-bubble {
  background: #e9ecef;
  color: black;
}
.card-footer {
  background-color: #f8f9fa;
}

.chat-input {
  flex-grow: 1;
  display: flex;
  padding: 15px;
  border-top: 1px solid #e9ecef;
}

#userInput {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 20px;
  font-size: 1rem;
}

#sendButton {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#sendButton:hover {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .chat-container {
      height: 100vh;
      border-radius: 0;
  }

  .chat-messages {
      height: calc(100vh - 130px);
  }

  .chat-header h1 {
      font-size: 1rem;
  }

  #userInput, #sendButton {
      font-size: 0.9rem;
  }
}
